<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if title is not defined %}PublicWhip v2{% else %}{{ title|raw }}{% endif %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/publicwhip.css"/>
    {% if canonical is defined %}<link rel=“canonical” href=“{{ canonical }}” />{% endif %}
    {{ debug_head() }}
</head>
<body>
{% if mainNavSection is not defined %}{% set mainNavSection = '' %}{% endif %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">PublicWhip</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if mainNavSection == '' %} active{% endif %}">
                <a class="nav-link" href="/">Home{% if mainNavSection == '' %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item{% if mainNavSection == 'documentation' %} active{% endif %}">
                <a class="nav-link" href="/docs/">Documentation{% if mainNavSection == 'documentation' %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item{% if mainNavSection == 'contact' %} active{% endif %}">
                <a class="nav-link" href="/docs/docs/Contact.md">Contact{% if mainNavSection == 'contact' %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item{% if mainNavSection == 'divisions' %} active{% endif %}">
                <a class="nav-link" href="/divisions/">Divisions{% if mainNavSection == 'divisions' %} <span class="sr-only">(current)</span>{% endif %}</a></a>
            </li>
        </ul>
        <!--
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
    </div>
</nav>


<main role="main" class="container-fluid">

    <div class="alert alert-danger" role="alert">This is a developmental/test site and is not intended for general usage</div>

    {% if block('secondaryNavigation') is defined %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secondaryNavigation" aria-controls="secondaryNavigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center" id="secondaryNavigation">
                <ul class="navbar-nav">
                    {{ block('secondaryNavigation') }}
                </ul>
            </div>
        </nav>
    {% endif %}


<div class="main">
    <h1 style="text-align:center;">{% if title is not defined %}PublicWhip v2{% else %}{{ title|raw }}{% endif %}</h1>
    {% block content %}Sorry, there was a problem: no content was available.{% endblock content %}
</div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">PublicWhip is an open source project by <a href="https://www.bairwell.com/">Bairwell Ltd</a></span>
        </div>
    </footer>


{{ debug_bar() }}
    <script src="/js/jquery-3.3.1.slim.min.js"
            crossorigin="anonymous"></script>
    <script src="/js/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
</body>
</html>
