{% extends "DivisionController/template.twig" %}
{% set canonical = path_for(
    'divisionByHouseDateNumber',
    { 'house':division.house,
        'date':division.date|date('Y-m-d'),
        'divisionNumber':division.number })
%}
{% set title = division.title|raw %}

{% block content %}

    <table class="table table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Division id</th>
            <th scope="col">Date</th>
            <th scope="col">Number</th>
            <th scope="col">House</th>
            {% if division.possibleTurnout %}
                <th scope="col">Possible votes</th>
                <th scope="col">Total votes</th>
                <th scope="col">Rebellions</th>
                <th scope="col">Majority</th>
                <th scope="col">Voted for</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ division.id }}</td>
            <td>{{ division.date|date('Y-m-d') }}</td>
            <td>{{ division.number }}</td>
            <td>{{ division.house }}</td>
            {% if division.possibleTurnout %}
                <td>{{ division.possibleTurnout }}</td>
                <td>{{ division.turnout }}</td>
                <td>{{ division.rebellions }}</td>
                <td>{{ division.ayeMajority|abs }}</td>
                <td>{% if division.ayeMajority>0 %}AYE{% else %}NO{% endif %}</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary btn-sm" href="{{ path_for(
        'editDivisionByHouseDateNumber',
        { 'house':'commons','date':'2019-02-12','divisionNumber':'325' }) }}">Edit</a><br/>

    <div class="motion">
        {{ division.description|raw }}
    </div>

{% endblock content %}